body {
    background:url("http://p1.bpimg.com/1949/725def68ddd09162.jpg") ;
}

#container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Microsoft Yahei", "Arial", "SimHei";
}

.task {
    width: 200px;
    height: 120px;
    background:url("http://p1.bpimg.com/1949/60eb903a1d21451c.jpg");
    background-size: 200px 120px;
    margin: 50px;
    border-radius: 5px;
}

.task:hover {
    box-shadow: 5px 5px #333;
}

.task>a {
    display: block;
    padding: 5px;
}

a {
    text-decoration: none;
    color: #70aa32;
}

a:hover {
    font-weight: bold;
    color: green;
}